/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
bundle.js
bundle.js.map
.DS_Store
npm-debug.log
/config/master.key
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
