.footer-wrapper {
  height: 130px;
  width: 100%;
  background-color: white;
  border-top: 1px solid lightgray;
  background-image: url("https://thumbs.dreamstime.com/b/water-waves-geometric-seamless-repetitive-vector-pattern-texture-blue-effect-background-graphic-illustration-100937943.jpg");
  /* background-repeat: no-repeat;
  background-position: center; */
  background-size: 100% 100%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  filter: brightness(0.8);

}

.ripcamp_copyright {
  padding-left: 46px;
}

.footer-text {
  /* color: #c0c0c0; */
  color: white;
  font-weight: 600;
}
