.surf-index-container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  justify-content: center;
  margin: 0 auto;
}

.surf-greeting {
  display: flex;
  flex-direction: column;
}

.surf-index-container h1 {
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
}

.surf-index-container h3 {
  color: #333;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 0;
}

.index-map-container {
  display: flex;
}

.spot-index {
  height: min-content;
  width: 55%;
  overflow-y: scroll;
  height: 75vh;
  line-height: 1.5;
  color: #333333;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
}

.no-spots-container {
  margin-top: 40%;
  font-size: 30px;
  color: #48c4da;
  position: absolute;
  left: 8%;
  bottom: 30%;
  text-shadow: 1px 1px 1px #48c4da;
}
