.map-container {
  background: rgb(0, 0, 0);
  background-size: cover;
  width: 42%;
  margin-left: 10px;
}

.map {
  width: 100%;
  height: 100%;
}

#content {
  width: 200px;
  height: 200px;
}

#firstHeading {
  text-transform: capitalize;
}

#difficulty {
  text-transform: uppercase;
}
#content-pic {
  width: 100%;
  height: 70%;
}
