.quickshow_container {
  /* margin-left: 30px; */
  width: 90%;
  height: 300px;
  box-shadow: 2px 2px 4px gray;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: white;
  transition-duration: 1s;
}

.quickshow_container:hover {
  background-color: #f0f0f0;
}

.quickshow_photobar {
  height: 60%;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}

.quickshow-photo {
  width: 100%;
  background-size: cover;
}

.quickshow_link {
  text-decoration: none;
  color: black;
  width: 100%;
}

.spot_name {
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.spot_description {
  margin-top: 0px;
  color: #303030;
  font-size: 15px;
  margin-right: 3px;
  text-decoration: none;
}

.spot_city {
  margin-top: 0px;
  color: #303030;
  font-size: 15px;
  margin-right: 3px;
  text-decoration: none;
}

.spot_infobar {
  padding-left: 12px;
}

.review_bar {
  height: 10%;
  color: seagreen;
  padding-left: 10px;
  text-decoration: none;
}

.slider_button_photo {
  width: 20px;
  height: 30px;
  margin: 12px;
  padding-top: 20px;
}

.slider_button {
  display: none;
  z-index: 10;
}

.quickshow_container:hover .slider_button {
  display: block;
}

.active_marker_buttons {
  display: block;
}

.slider_button_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.bottom_half p {
  text-decoration: none;
}

.active_marker {
  background-color: #48c4da;
}
