.searchbar-container {
  padding: 10px;
  background-color: #48C4DA;
  box-shadow: 0 5px 20px #48C4DA, 0 0 0 15px #ffffffeb;
  border-radius: 20px;
  transform: scaleY(0.7);
  /* margin: 1em; */
  z-index: 12;
  width: 100%;
}

.tb {
  display: table;
  width: 100%;
}

.searchbar {
  width: 100%;
  height: 50px;
  font-size: 30px;
  line-height: 1;
}

.searchbar::placeholder {
  color: white;
}

.searchbar:focus {
  outline: none;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.searchbar,
.searchbar-btn {
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.searchbar-btn {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
  color: black;
  z-index: 9;
  transform: scale(0.6);
}

#search {
  padding-left: 20px;
}

#city-drop {
  margin-left: 10px;
}

#city-search {
    width: 70%;
    height: 50px;
    font-size: 25px;
    color: white;
    background-color: #48C4DA;
    border: 1px solid white;
}

option {
    font-size: 10px;
}

#city-search:focus {
    outline: none;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.searchbar-btn span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.searchbar-btn span:before,
.searchbar-btn span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

