.suggestion_dropdown {
  position: absolute;
  top: 85px;
  left: 28px;
  /* margin-left: 20px; */
  width: 60%;
  max-height: 700px;
  min-height: 50px;
  /* overflow-y: scroll; */
  overflow: auto;
  /* background-color: red; */
  border-radius: 2px;
  background-color: white;
  box-shadow: 3px 3px 6px gray;
  font-size: 15px;
}

.navbar-dropdown {
  position: absolute;
  top: 54px;
  left: 30px;
  /* margin-left: 20px; */
  width: 100%;
  max-height: 700px;
  min-height: 50px;
  /* overflow-y: scroll; */
  /* background-color: red; */
  border: none;
  border-radius: 2px;
  background-color: white;
  box-shadow: 3px 3px 6px gray;
  font-size: 15px;
}

.suggestion_link {
  text-decoration: none;
}

.suggestion_content_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 50%;
  border-bottom: 1px solid lightgray;
}

.suggestion_content_container:hover {
  background: whitesmoke;
}

.suggestion_name {
  margin-left: 20px;
  width: 40%;
  font-weight: 400;
  color: black;
  font-size: 20px;
  text-transform: capitalize;
}

.suggestion_city {
  margin-left: 30px;
  width: 33%;
  color: darkslategrey;
  font-weight: 500;
  font-size: 20px;
  /* margin-top: 32px; */
}

.thumbnail_photo {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 2px;
}

#no_search_results {
  margin-left: 20px;
  font-weight: 400;
  color: darkslategrey;
  margin-top: 10px;
}

.fa-map-marker-alt {
  color: dodgerblue;
  padding-left: 20px;
  font-size: 30px;
}
